<h1>Editing user: <%= h @user.username%></h1>
<% form_for @user, :url => {:action => 'update', :id => @user} do |form| %>  
<%= form.error_messages %>

		<%= form.label :username, "Username" -%> <br/>
		<%= form.text_field :username -%>  <br/><br/>
		<%= form.label :email, "Email" -%>  <br/>
		<%= form.text_field :email -%>  <br/><br/>
		<%= form.label :password, "Password" -%>  <br/>
		<%= form.password_field :password -%>  <br/><br/>
		<%= form.label :password_confirmation, "Password confirmation" -%>  <br/>
		<%= form.password_field :password_confirmation -%>  <br/><br/>
		<% for role in Role.find(:all) %>
			<div>  
				<%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %>  
				<%= role.name %>  
			</div>  
		<% end %>  
		<%= form.submit "Submit" %>  <br/>
<% end %> 

<%= link_to 'Back', users_path %>
